* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1220px;
}

@keyframes box {
    0% {
        background-color: antiquewhite;
        top: 0;
        left: 0;
    }

    25% {
        background-color: aqua;
        left: 1000px;
        top: 0;
    }

    50% {
        background-color: red;
        top: 300px;
        left: 100px;
    }

    75% {
        background-color: black;
        border-radius: 50%;
        top: 300px;
        left: 0;
    }

    100% {
        background-color: yellow;
        top: 0;
        left: 0;
    }
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    animation-name: box;
    animation-duration: 10s;
    animation-iteration-count: infinite
}